<div class="container">
  <div class="content">
    <img class="banner" src="../assets/images/banner.png" alt="Banner">
    <p>
      Thank you for taking the time to visit this page.
      I'd like to share some information about some of the projects I have been a part of.
    </p>
    <p>
      One of my most significant projects involved the use of Angular and React for the frontend, and NestJS for the backend.
      Our team implemented a feature to assist the sales team in conducting campaigns to follow up with their customers.
    </p>
    <h2>Frontend</h2>
    <p>
      As the team leader on this project, I designed the architecture of this module which included a main page with multiple child pages.
      To minimize data transfer, each lazy-loaded page made HTTP requests and once the data was fetched,
      it was processed by multiple services to maximize its usage.
    </p>

    <a routerLink="/campaign">Go to Campaign</a>

    <p>Many of the pages consisted of a table of customers with filters, buttons, and pagination controls to manage them.</p>
    <p>
      To enhance performance, our team implemented server-side control for certain components,
      such as the filter function. This allowed us to process user input on the server rather than the client side,
      improving the overall efficiency of the application.
    </p>
    <h2>Backend</h2>
    <p>
      For the backend of the project, our team utilized the NestJS framework.
      While the base architecture had already been designed by our client,
      I contributed significantly to the development of various features such as modules, routers, guards, and events.
    </p>
    <p>
      To manage the large number of features in the project,
      we implemented an event-based system in which database updates were only made in event handlers.
      This approach helped to keep the code clean and easy to maintain.
    </p>
    <p>
      A significant portion of my work involved optimizing performance,
      which I achieved through the streamlining of MongoDB queries and the careful desynchronization of blocking operations as they developed.
    </p>
    <p>
      To improve the speed of MongoDB queries, I designed a complex cross-reference system.
      Additionally, I worked on refining the schema to allow for more effective use of aggregation.
    </p>
    <h2>Latest work</h2>
    <p>
      In my most recent job, I was responsible for managing a NodeJS application that connected to various services to fetch data.
      Using a microservice-like structure, I implemented Python server-side apps and NodeJS server-side apps
      that communicated via HTTP connections. With the large volume of data I was working with,
      I utilized various data analysis libraries in Python and implemented basic machine learning techniques to improve results.
      Unfortunately, due to contract restrictions, I am unable to provide further details about this project.
    </p>
  </div>
</div>
